.about-us
    margin-top: 53px
    &_info
        text-align: left
    &_first
        margin-bottom: 52px
    &_img
        margin-left: 85px
        height: 278px
    &_descr
        margin-bottom: 26px
    &_slider
        height: 452px