.navbar
    font-family: "Qanelas-SemiBold-400"
    font-size: 17px
    line-height: normal
    text-transform: uppercase
    background-color: #fff
    height: 66px
    &_link        
        a
            color: black
            margin-right: 38px
        a:last-child
            margin-left: 300px
            //При добавлении "Важно знать" раскомментировать и удалить margin
            // position: absolute
            // right: 10%
        a:hover
            font-size: 18px
            color: #48327a
            text-decoration: none

.about-us_nav
    // display: none
    font-family: "Qanelas-Black-400"
    font-size: 29px
    line-height: normal
    height: 66px
    margin-bottom: 64px
    a
        margin-right: 25px
        color: #48327a
    a:hover
        text-decoration: none
        border-bottom: 5px solid #48327a
        padding-bottom: 12px

.services_nav
    // display: none
    font-family: "Qanelas-Black-400"
    font-size: 29px
    line-height: normal
    a
        margin-right: 25px
        color: #48327a
    a:hover
        text-decoration: none
        border-bottom: 5px solid #48327a
        padding-bottom: 12px

.help_nav
    // display: none
    font-family: "Qanelas-Black-400"
    font-size: 29px
    line-height: normal
    a
        margin-right: 25px
        color: #48327a
    a:hover
        text-decoration: none
        border-bottom: 5px solid #48327a
        padding-bottom: 12px
    
.pets_nav
    // display: none
    font-family: "Qanelas-Black-400"
    font-size: 29px
    line-height: normal
    a
        margin-right: 25px
        color: #48327a
    a:hover
        text-decoration: none
        border-bottom: 5px solid #48327a
        padding-bottom: 12px

.important_nav
    // display: none
    font-family: "Qanelas-Black-400"
    font-size: 29px
    line-height: normal
    height: 66px
    margin-bottom: 64px
    a
        margin-right: 25px
        color: #48327a
    a:hover
        text-decoration: none
        border-bottom: 5px solid #48327a
        padding-bottom: 12px

.contacts_nav
    // display: none
    font-family: "Qanelas-Black-400"
    font-size: 29px
    line-height: normal
    height: 66px
    a
        margin-right: 25px
        color: #48327a
    a:hover
        text-decoration: none
        border-bottom: 5px solid #48327a
        padding-bottom: 12px